.form-group{
    display: flex;
}
.login-header{
text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.login-detail-margin{
         margin-top: 2%;
    margin-bottom: 5%;
}
form{
        width: 100%;
}

.new-register{
    margin-right: 6%;
}
.loginForm{
    padding-left: 31%
}
.login-warning{
    margin-bottom: 5%;
        margin-left: 3%;
}