.detail {
    border: 1px solid #007bff;
    border-radius: 6px;
    height: 300px;
}

/* .row {
    position: absolute;
    margin-top: 80px;
  }
  
  .btn-block {  
    text-align: -webkit-right;
    margin-top: 350px;
    margin-right: -150px;
  }
  
  .btn-width {
    margin-right: 10px;
    width: 80px;
  } */
  